/* Topbar Styles */
.topbar {
  background-color: #000;
  color: white;
  font-size: 0.875rem; /* Smaller font size */
  padding: 5px 0; /* Reduce padding to make it more compact */
}

.topbar .container {
  padding: 0; /* Remove padding from container */
}

.topbar .icon {
  font-size: 18px; /* Slightly smaller icon size */
  color: #fff;
}

.topbar .text {
  color: #fff;
}

.topbar .register-link span {
  color: #fff;
  margin: 0 5px;
}

.topbar .d-flex {
  display: flex;
}

.topbar .align-items-center {
  align-items: center;
}

.topbar .text-right {
  text-align: right;
}

.topbar .mb-0 {
  margin-bottom: 0;
}


