  .navbar {
    position: sticky;
    top: 0;
    z-index: 9999;  /* Ensure navbar stays on top */
    background-color: #030303; /* Your navbar background color */
    box-shadow: 0 4px 6px rgb(255, 255, 255); /* Optional shadow */
  }/* Optional: Add shadow when sticky */


/* Optional: Add smooth transition for shadow */
.navbar {
  transition: box-shadow 0.3s ease-in-out;
}

.navbar-nav .nav-link {
  color: white;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: #ff7f50;
}

.navbar-toggler {
  background-color: #ff7f50;
}

.navbar-toggler .oi-menu {
  color: white;
}
.navbar .dropdown-menu {
  background-color: #343a40; /* Dark background for the dropdown */
}

.navbar .dropdown-item {
  color: white;
}

.navbar .dropdown-item:hover {
  background-color: #5a6268; /* Hover color */
}

.navbar-toggler-icon {
  background-color: white;
}